@import 'modules/_variables';

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: $font-family-sans;
    background-color: $navy;
    color: $white;
}


.t3-title,
.t3-description {
    text-align: center;
}

.t3-title {
    margin-bottom: 0;
    font-size: 24px;
}

.t3-description {
    max-width: 320px;
    margin: 10px auto 0;
    color: $blue;
}

.t3-wrapper {
    height: 300px;
    width: 300px;
    margin: 20px auto 0;
    background-color: lighten($navy, 10%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.t3-row {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.t3-square {
    margin: 10px;
    font-size: 18px;
    font-family: $font-family-mono;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lighten($navy, 20%);
    color: rgba($white, .4);
    cursor: pointer;
    transition: all 80ms ease;
    &:hover {
        transform: scale(1.1);
        color: $white;
    }
}

.t3-btn-group {
    text-align: center;
}

.btn-reset {
    color: rgba($white,.8);
    padding: 8px 18px;
    background-color: lighten($navy, 20%);
    border-color: 1px solid $white;
    border-radius: 4px;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: $white;
    }
}